/* Contact Section */

section.contact {
    height: 65vh;
    background: #d0c493;
    border-top: 18px solid #821517;
}

section.contact .container {
    margin-top: 80px;
}

.contact .contact-info, .contact .quick-links, .contact .send-message {
    float: right;
    width: 33%;
}

.contact .contact-info h3, .contact, .quick-links h3, .contact .send-message h3 {
    color: #821517;
}

.contact span {
    float: right;
    background: #821517;
    margin: 0px;
    margin-right: 30px;
    margin-top: -5px;
}

.contact .contact-item {
    position: relative;
    margin: 15px 0px;
    padding-right: 40px;
}

.contact .contact-item a i {
    position: absolute;
    color: #ffffff;
    background: #821517;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.4s ease 0s;
}

.contact .contact-item a {
    color: #821517;
    font-weight: 600;
}

.contact .contact-item a:hover i {
    background: #832b23;
    border-radius: 40%;
}

.contact-info .subscribe form label {
    display: block;
    color: #821517;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

.contact-info .subscribe form input, .send-message form input, .send-message form textarea {
    outline: none;
    border: none;
    font-family: "Changa", 'sans-serif';
    padding: 10px 25px;
    width: 100%;
    border-radius: 5px;
    background: #ffffff;
}

.contact-info .subscribe form input::placeholder {
    font-weight: 500;
    color: #808080;
}

.contact-info .subscribe button.btn, .contact .send-message button.btn {
    float: left;
    background: #821517;
    width: 120px;
    padding: 5px;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px -1px 2px -1px rgba(0, 0, 0, 0.75);
}

.subscribe button.btn {
    margin-top: -10px;
}

.contact .quick-links {
    padding-right: 70px;
}

.contact .quick-links a {
    display: block;
    color: #000000;
    margin: 10px 0px;
    font-weight: 600;
    width: 120px;
}

.contact .quick-links a i {
    color: #821517;
    margin-left: 5px;
}

.contact .send-message input, .contact .send-message textarea {
    margin: 5px 0px;
}

.contact .send-message b, .contact .subscribe b {
    display: block;
    font-size: 15px;
    margin: -4px 0px;
}