/* Section Home */

.home {
    position: relative;
    height: 100vh;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.home-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-content .home-description {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-content .home-description img{
    max-width: 100%;
    height: auto;
}
.home-content h2 {
    color: white;
    text-shadow: 1px 2px 5px #000;
    font-size: 28px;
}
@media (max-width:375px){
    .home-content .home-description {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .home-content h2 {
        color: white;
        text-shadow: 1px 2px 5px #000;
        font-size: 22px;
    }
    .home-content .home-description form input{
        width: 70%;
    }
}

.home-content .btn {
    position: relative;
    color: #ffffff;
    font-size: 14px;
    border: 3px solid transparent;
    padding: 5px;
    border-radius: 50px;
    width: 170px;
    background: #cf4440;
    font-weight: bold;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px -1px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 13px -1px rgba(0, 0, 0, 0.75);
    /* background: #cf4440;
    width: 150px;
    padding: 4px;
    border-radius: 50px;
    color: #ffffff;
    -webkit-box-shadow: 0px -1px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 13px -1px rgba(0, 0, 0, 0.75); */
}
input[type=text] {
    padding: 10px;
    font-size: 17px;
    width: 40%;
    border-radius: 20px;
    background-color: white;
    opacity: 0.9;
    border: 0;
    font-family: inherit;
    margin-bottom: 15px;
    outline: none;
  }
.home-content .btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #972f26;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--x) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--x) - 1) * 0.1s);
    z-index: -1;
}

.btn:hover span {
    transform: translateY(0) scale(2);
}

.btn span:nth-child(1) {
    --x: 1;
}

.btn span:nth-child(2) {
    --x: 2;
}

.btn span:nth-child(3) {
    --x: 3;
}

.btn span:nth-child(4) {
    --x: 4;
}

.home-content .btn:hover {
    border: 3px solid #972f26;
}
