/* Services Section */

section.services {
    position: relative;
    min-height: 470px;
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}
.services-content h2 {
    color: #ffffff;
    font-size: 32px;
    text-shadow: 1px 2px 5px #000;
    padding: 10px 0px;
}

.services-content h3 {
    font-size: 24px;
    margin: 4px 0px;
}

.services-content .services-item {
    float: right;
    width: calc(33% - 10px);
    margin: 0px 5px;
}
@media (max-width:1020px){
    section.services{
        min-height: 800px;
    }
    .services-content .services-item {
        float: left;
        width: calc(50% - 10px);
        margin: 0px 5px;
    }
    .services-item:nth-of-type(3) p{
        font-size: 18px;
        line-height: 1.6;
        font-weight: 600;
    }
    .services-item:nth-of-type(3){
        float: left;
        width: 100%;
        margin: 5px auto;
    }
}

@media (max-width:640px){
    section.services{
        min-height: 1200px;
    }
    .services-content .services-item {
        /* float: left; */
        width: calc(100% - 10px);
        margin: 5px 0px;
    }   
}
.services-item p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
}
